<div class="jumbotron text-center">
    <h1 class="display-4">Edit <%= @todo.title %></h1>
    <hr/>
    
    <%= render 'form', todo: @todo %>

    <%= link_to "Back to index", my_todos_path %>
</div>
