/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

body {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

 #navibar {
     flex: 1;
     background-color: #199;
     height: 50px;
     justify-content: 'center';
 }

 #navibar a {
     font-size: 20px;
     color: white;
 }

 table {
     margin: auto;
     text-align: center;
     column-gap: 5px;
 }

tbody {
    border-color: lightGray;
    border-width: 1px;
    border-bottom-style: solid;
}

 th {
     background-color: #199
 }

td {
    border-color: lightGray;
    border-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    min-width: 100px;
}
